body {
    margin: 0px;
}

/** styling for header **/
.header {
    background-color: #2d1d42;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

h1 {
    color: white;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #E5E7EB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 10px;
}

/** styling for middle1 **/
.middle1 {
    background-color: #2d1d42;
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
}

.middle1h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.middle1p {
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 100px;
}

.middle1left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

img {
    align-self: center;
}

.middle1button {
    background-color: #577d22;
    color: white;
    font-size: 18px;
    align-self: flex-start;
    border: none;
    border-radius: 15px 15px;
    padding: 15px;
}

/** middle2 styling **/
.middle2 {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

.middle2h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    color: #1F2937;
    align-self: center;
}

.randomInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28%;
    padding-right: 28%;
    color: #1F2937;
    font-size: 18px;
    text-align: center;
}

/** middle3 styling **/
.middle3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.quote {
    color: #1F2937;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    font-style: italic;
}

.signature {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-self: flex-end;
}

/** middle 4 styling **/
.middle4 {
    padding: 100px;
    display: flex;
    justify-content: center;
}

.popup {
    background-color: #577d22;
    border: none;
    border-radius: 15px 15px;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.middle4left {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.middle4p {
    color: #F9FAF8;
}

.middle4button {
    margin-left: 50px;
    height: 40px;
    width: 100px;
    justify-self: center;
    align-self: center;
    border-color: white;
    border-radius: 10px;
    border-width: 2px;
    background-color: #577d22;
    color: white;
}

/** footer styling **/
.footer {
    background-color: #110b1a;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 20px;
}